* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.562), rgba(117, 19, 93, 0.918)), url(images/photo-1492176273113-2d51f47b23b0.jpg);

    background-size: cover;
    width: 100%;
    height: 80vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.top-heading {
    margin-left: 12%;
}

.header p {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 500;
    color: whitesmoke;
    text-align: justify;
}

.header h1 {
    font-size: 40px;
    font-weight: 600;
    color: whitesmoke;
}

.donate {
    margin-top: 25px;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    color: white;
    background-image: linear-gradient(rgba(3, 3, 85, 0.979), rgba(85, 1, 141, 0.753));
}

.donate:hover {
    color: black;
    background-image: linear-gradient(rgba(255, 255, 255, 0.836), rgba(0, 255, 255, 0.836));
    transition: 3s;
}

.main-content {
    display: flex;
    margin-top: 80px;
    align-items: center;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;

}

.image {
    margin-left: 350px;
}

.image img {
    border-radius: 50%;
}

.explore h1 {
    font-size: 40px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.925);
}

.explore p {
    margin-top: 20px;
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.719);
}

.help {
    margin-top: 100px;
}

.help-heading {
    text-align: center;
}

.help-heading h1 {
    font-size: 40px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.89);
}

.help-heading p {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.582);
    margin-top: 25px;
}

.donation {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.side-1 {
    display: flex;
    background-color: rgba(127, 255, 212, 0.349);
    margin-right: 5px;
    padding: 30px 25px;
    height: 152px;
    width: 20%;
    justify-content: space-between;
}

.side-2 {
    display: flex;
    background-color: rgba(127, 255, 212, 0.342);
    margin-left: 5px;
    padding: 30px 25px;
    width: 20%;
    justify-content: space-between;
}

.fa-brands {
    font-size: 30px;

}

.text-1 {
    margin-left: 15px;
}

.text-2 {
    margin-left: 15px;
}

.text-1 h1 {
    font-size: 18px;
    font-weight: 600;
}

.text-2 h1 {
    font-size: 18px;
    font-weight: 600;
}

.text-1 p {
    margin-top: 15px;
    text-align: justify;

}

.text-2 p {
    margin-top: 15px;
    text-align: justify;
}

.hand-image {
    margin-top: 100px;

}

.hand {
    display: flex;
    height: 300px;
    justify-content: center;
}

.hand img {
    border-radius: 6px;
    margin: 0 15px;
    width: 25%;
}

.last-section {
    margin-top: 120px;
}

.last-heading {
    text-align: center;
}

.last-heading h1 {
    font-size: 37px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.897);
}

.last-heading p {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.575);
    margin-top: 20px;
}

.last-fund {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    height: auto;
}

.fund-1 {
    height: auto;
    width: 20%;
    margin: 0 12px;
}

.fund-1 img {
    width: 100%;
    border-radius: 7px;

}

.last-fund h3,
p,
a {

    margin-top: 15px;
}

.last-fund p {
    margin-left: 15px;
}

.last-fund h3 {
    margin-left: 15px;
}

.last-fund a {
    margin-left: 15px;
}

.last-fund h3 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.822);
}

.last-fund p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.623);
    margin-bottom: 25px;
}

.fund-1 a {
    font-size: 15px;
    color: red;
}

.footer {
    background-color: black;
    color: rgba(245, 245, 245, 0.637);
    height: auto;
    text-align: center;
    margin-top: 100px;
}

.footer h1 {
    font-size: 30px;
    color: rgba(224, 12, 12, 0.932);
    font-weight: 600;
    margin-top: 50px;
    padding-top: 25px;
    font-family: 'Edu TAS Beginner', cursive;
}

.footer p {
    font-size: 12px;
    padding-bottom: 20px;

}